.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 240px 0;
}

@media screen and (max-width: 571px) {
  .main {
    padding: 116.5px 0;
  }
}
