* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #eef0eb;
  background-color: #2d2d34;
  text-align: center;
  font-size: 16px;
}

/* Header styling */

.nav,
footer {
  background-color: #040404;
  color: #eef0eb;
}

.nav {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav li {
  margin: 5px 10px;
}

.nav a {
  color: #eef0eb;
  text-decoration: none;
  padding: 5px 10px;
}

.nav a:hover {
  background-color: #040404;
  color: #eef0eb;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4rem;
}

main {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

section {
  margin: 0 auto;
}

.home {
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1483354483454-4cd359948304?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home__logo {
  width: 20rem;
  flex-shrink: 1;
}

h1,
h2 {
  color: #eef0eb;
}

/* Gallery Styles */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery img {
  display: block;
  margin: 0 auto; /* Centra las imágenes */
  width: 100%;
  max-width: 500px; /* Limita el ancho máximo */
  height: auto;
}

/* Botón */
.home__button {
  display: inline-block;
  background-color: #042bfc;
  color: #eef0eb;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
}

.home__button:hover {
  background-color: #eef0eb;
  color: #040404;
}

/* Contact Section */
.contact {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #042bfc;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 1rem;
  width: 22rem;
  text-decoration: none;
}

.button-text {
  color: #eef0eb;
}

.social-logo {
  width: 3rem;
}

.contact__button:hover {
  background-color: #eef0eb;
  cursor: pointer;
}

.contact__button:hover .button-text {
  color: #040404;
}

.contact__button:hover .social-logo {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%)
    contrast(100%);
}

footer {
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .home__logo {
    width: 80%;
    height: auto;
  }

  .gallery img {
    width: 100%; /* Asegura que las imágenes se ajusten en pantallas pequeñas */
    max-width: 100%;
  }

  .gallery {
    display: block;
    width: 100%;
    text-align: center;
  }
}
.custom-video {
  max-width: 500px;
  width: 100%;
}
