.about {
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
}

.about__text-content {
  width: 25.07%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.about__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__image {
  width: 58.6%;
}

@media (max-width: 1400px) {
  .about {
    flex-direction: column;
    padding: 60px 60px;
    gap: 60px;
  }
  .about__text-content {
    width: 100%;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 720px) {
  .about {
    flex-direction: column;
    padding: 40px;
    gap: 40px;
  }
  .about__text-content {
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 40px;
  }
  .about__image {
    width: 100%;
  }
}
