.footer {
  background-color: #000;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 10px;
}

.footer__copyright-info {
  margin: 0;
  text-align: center;
}
.footer__credit {
  margin: 0;
  font-size: 16px;
  color: #fff;
  text-align: center;
}

.footer__credit-link {
  color: inherit;
  text-decoration: none;
}

.footer__credit-link:hover {
  text-decoration: underline;
}
@media screen and (max-width: 571px) {
  .footer__copyright {
    font-size: 14px;
  }
}
